{% extends "base_htmx.html" %}

{% block title %}
<title>htmx nonsense</title>
{% endblock %}

{% block content %}
  <h1>Go my tests</h1>
  <button hx-get="{% url 'sandwich' %}" hx-target="#sandwich" hx-swap="innerHTML">
    Get me a sandwich
  </button>
  <div id="sandwich">
    <p>No sandwich 😢</p>
  </div>
  <p>------------------</p>
  <button hx-get="{% url 'check_sandwich' %}" hx-target="#sandwichcheck" hx-swap="innerHTML">
    Do i has sandwich?
  </button>
  <div id="sandwichcheck">

  </div>
  <p>------------------</p>
  <!-- https://webwithdjango.com/the-ultimate-guide-to-htmx-in-django-simplify-your-frontend-with-ease/ -->
  <button hx-get="{% url 'hello' %}" hx-trigger="click" hx-target="#greeting" hx-swap="innerHTML">
    Say Hello
  </button>
  <div id="greeting"><p>I am about to say something</p></div>
  <p>------------------</p>
  <form hx-post="{% url 'submit_form' %}" hx-target="#form-container" hx-swap="innerHTML">
    {% csrf_token %} <!-- THAT TEMPLATE TAG IS REQUIRED FOR POST REQUESTS bc of some security thing idk -->
    <input type="text" name="name" placeholder="Enter your name">
    <button type="submit">Submit</button>
  </form>
  <div id="form-container"></div>
{% endblock %}